.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grab {
    cursor: all-scroll;
}

.modalBody {
    white-space: pre-wrap;
}
#succeeded{
    color: green;
}
#fails{
    color: red;
}
#blue{
    color: blue;
}
#buttons-footer{
justify-content: center;
}

.close-button {
    border: none;
    color: #000;
    font-size: 1.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.alert {
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-grow: 1;
}

.alert-text {
    flex-grow: 1;
}


.input-text{
    padding-bottom: 2%;
}

.col-form-label {
    padding-left: 6%;
}

.bold-text {
    font-weight: bold;
}