.modal-title{
    font-family: 'Lobster', cursive;
    text-align: left;
    text-transform: capitalize;
    font-size: smaller;
    width: 100%;
    text-align: center;
}

.grab {
    cursor: all-scroll;
    position: relative;
}

.btn-close {
    position: absolute;
    top: 15%;
    right: 2%;
    margin: 10px;
}

.modalBody {
    white-space: pre-wrap;
    tab-size: 4; /* Adjust the value to control the tab size */
}

#succeeded{
    color: green;
    font-size: xx-large;
}

#fails{
    color: red;
    font-size: xx-large;
    text-align: center;
}
#blue{
    color: blue;
    font-size: xx-large;
    text-align: center;
}

#buttons-footer{
    justify-content: center;
}

.modal {
    --bs-modal-width: 600px !important;
}

.alert {
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-grow: 1;
}

.alert-text {
    flex-grow: 1;
}


.input-text{
    padding-bottom: 2%;
}

.col-form-label {
    padding-left: 6%;
}

.bold-text {
    font-weight: bold;
}

pre{
    font-size:medium !important;
}