.number-input {
    width: 27pt;
    height: 18pt;
}

.select-input {
    height: 18pt;

    /* border-radius: 4px;
    appearance: none;
    text-align: center; */
}

/* .select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
} */
