.number-input {
    width: 27pt;
    height: 20pt;
    border-radius: 4px;
}

.select-input {
    height: 20pt;
    border-radius: 4px;
    text-align: center;
}

.disable-select {
    background-color: #f1f1f1;
}

