/* .command_row{
    border: 1px solid black;
    text-align: left;
    height: 40px;
}

.all {
    border: 1px solid black;
    height: 50px;
} */

.board {
    background-color: lightgray;
    height: 100%;
}

.clickable-board {
    border-style: solid;
}

.block {
    padding-left: 10pt;
}

/* .mini-board {
    background-color: rgb(229, 229, 237);
    height: 100%;
    padding-left: 5pt;
} */