
.background-grey {
	background-image: url('../images/background_grey.png');
}

.green{
	border: 4px solid green; 
	cursor: pointer;
	background-color: rgba(0, 255, 0, 0.1);
}

.red {
	border: 4px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.blue {
	border: 3px solid blue;
	cursor: pointer;
	background-color: rgba(0, 0, 255, 0.1);
}

.freestyle {
	font-family: 'cursive';
	font-style: oblique;
	font-weight: bold;
	font-size: small;
}

.circle {
	width: 75%;
	height: 85%;
	padding: 5%;
	border-radius: 50%;
	display: inline;
}

.lock-img{
	width: 70%;
	height: 90%;
}

.levels-grid-4{
	width: 65%;
	height: 75%; /* Adjust the height as needed */
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	display: inline-grid;
	margin: 1%;
}

.icon-img {
	padding-top: 10%;
	width: 80%;
	height: 90%;
 }

.nav-link {
	cursor: pointer;
}


.levels-header {
	display: flex;
	justify-content: center; /* Align items at the start and end of the container */
	align-items: center; /* Vertically align items in the center */
}

.nav-levels{
	position: absolute;
	top: 0pt;
	left: 0pt;
}


